body{

}
@font-face {
    font-family: grocery;
    src: url("../lib/bootstrap/fonts/glyphicons-halflings-regular.eot") format("embedded-opentype"),
    url("../lib/bootstrap/fonts/glyphicons-halflings-regular.svg") format("svg"),
    url("../lib/bootstrap/fonts/glyphicons-halflings-regular.ttf") format("truetype"),
    url("../lib/bootstrap/fonts/glyphicons-halflings-regular.woff") format("woff");
}
[class^="glyphicon-"],
[class*="glyphicon-"]{
    font-family: grocery;
    font-style: normal;
}
.navbar-brand img{
    position: relative;
    bottom: 5px;
}
.top-bar{
    height: 35px;
    background-color: #ec4646;
    padding-top: 7px;
}

.top-bar a{
    list-style-type: none;
    color: #eeeeee;
}
.top-bar a:hover{
    color: #663f3f;
    text-decoration: underline;

}
#header .navbar-grocery{
    background-color: #ffffff;
}
#header .navbar-grocery .navbar-nav li.active a,
#header .navbar-grocery .navbar-nav li a:hover{
    background-color: transparent;
    border-bottom: 2px solid #ec4646;
}
#header .navbar-grocery .navbar-nav li{
    margin-right: 10px;
}
main .category-name{
    color: #ec4646;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}
main .head{
    color: #ec4646;
    margin: 20px auto 20px auto;
}

footer{
    background-color: #f5f4f4;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 0px;
}
footer .bottom-bar-1{
    padding: 20px;
}
footer .bottom-bar-1 a{
    color: #888888;
}
footer .bottom-bar-1 a:hover{
    color: #ec4646;
}